.homeMain-bg.container {
  margin-top: 25px;
}

.homeMain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto 20px auto;
  justify-content: center;
  gap: 20px;
}
.homeMain-img {
  max-width: 340px;
  max-height: 520px;
  position: relative;
  cursor: pointer;
}

.homeMain-img .collection-title,
.homeMain-img .collection-year {
  /* font-family: 'Montserrat'; */
  font-weight: 400;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 20px;
  right: 20px;
  z-index: 1;
  color: white;
  opacity: 0;
  transition: 0.4s;
}
.homeMain-img .collection-year {
  top: 60%;
}
.homeMain img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}

.homeMain-img::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000000ad;
  backdrop-filter: blur(4px);
  transition: 0.25s;
}
.homeMain-img:hover::after {
  opacity: 1;
}

.homeMain-img:hover .collection-title,
.homeMain-img:hover .collection-year {
  opacity: 1;
}
.homeMainTitle {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 48px;
  justify-items: center;
  margin-bottom: 60px;
}
.homeMain-bg h1 {
  line-height: 50px;
  color: #181818;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 300;
  max-height: fit-content;
  animation: carrosselTexts 8s ease infinite;
}
@keyframes carrosselTexts {
  0%,
  100% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-54px);
  }
  40% {
    transform: translateY(-54px);
  }
  60% {
    transform: translateY(-106px);
  }
  80% {
    transform: translateY(-106px);
  }
}
@media (width < 1000px) {
  .homeMain {
    grid-template-columns: repeat(2, 1fr);
  }
  .homeMain-bg h1 {
    font-size: 20px;
  }
}
@media (width < 600px) {
  .homeMain-bg h1 {
    font-size: 14px;
  }
}
@media (width < 440px) {
  @keyframes carrosselTexts {
    0%,
    100% {
      transform: translateY(0px);
    }
    10% {
      transform: translateY(0px);
    }

    20% {
      transform: translateY(-20px);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-58px);
    }
    80% {
      transform: translateY(-58px);
    }
  }
  .homeMainTitle {
    height: 30px;
  }
  .homeMain-bg h1 {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
@media (width < 400px) {
  .homeMainTitle {
    height: 40px;
  }
  .homeMain-bg h1 {
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @keyframes carrosselTexts {
    0%,
    100% {
      transform: translateY(0px);
    }
    10% {
      transform: translateY(0px);
    }

    20% {
      transform: translateY(-40px);
    }
    40% {
      transform: translateY(-40px);
    }
    60% {
      transform: translateY(-79px);
    }
    80% {
      transform: translateY(-79px);
    }
  }
}
