.mainProduto-bg {
  margin-top: 0;
  max-width: initial;
  height: calc(100vh - 64px);
  padding: 0;
}

.mainProduto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
}

.imagensArea {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}
.imagensArea img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  scroll-snap-align: start;
}

.imagensArea::-webkit-scrollbar {
  width: 4px;
}

.imagensArea::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 0 40px;
}

.imagensArea::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 10px;
}

.produtoContent {
  margin-top: 5vh;
  padding: 80px;
  display: flex;
  flex-direction: column;
}

.titleArea {
  margin-bottom: 30px;
}

.produtoContent .title {
  font-family: Montserrat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produtoContent .title .favBtn {
  cursor: pointer;
}
.produtoContent .title img {
  position: relative;
  bottom: 1px;
  height: 20px;
  width: 20px;
}

.produtoContent .preco {
  font-family: "Montserrat";
  font-weight: 300;
  padding: 4px 0 0 4px;
  display: block;
}
.produtoContent p {
  font-family: montserrat;
}
.produtoBotao {
  margin-top: 32px;
  padding: 15px 65px;
  border: unset;
  border-radius: 15px;
  color: #e8e8e8;
  z-index: 1;
  background-color: #202020;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.produtoBotao:hover {
  color: black;
}

.produtoBotao::before {
  content: "";
  display: block;
  background: #e8e8e8;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0%;
  transition: 0.3s;
  border-radius: 12px;
}

.produtoBotao:hover::before {
  height: 100%;
  width: 100%;
}
.complementos {
  margin: 30px 0;
}

.complementos p {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #1a1a1aad;
  padding: 0 4px;
}

.sobreFrete {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: default;
}
.sobreFrete img {
  height: 24px;
  width: 24px;
  transition: 0.4s;
}

.sobreFrete:hover > img {
  scale: 1.2;
}
.posCompra {
  width: 50%;
  margin-top: 10px;
}
.posCompra p {
  margin: 30px auto;
  font-size: 15px;
  font-style: italic;
  cursor: pointer;
}