.mainProduto-bg {
  margin-top: 40px;
}

.mainProduto {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imagensArea {
  height: 600px;
  overflow: auto;
}
.imagensArea img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.imagensArea::-webkit-scrollbar {
  width: 4px;
}

.imagensArea::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 0 40px;
}

.imagensArea::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 10px;
}

.produtoContent {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr 1fr; */
}

.produtoContent .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produtoContent .title .favBtn {
  cursor: pointer;
}
.produtoContent .title img {
  position: relative;
  bottom: -5px;
  height: 20px;
  width: 20px;
}

.produtoContent .preco {
  font-family: 'Montserrat';
  font-weight: 300;
  padding: 4px 0 0 4px;
  display: block;
}
