.mainProduto-bg {
  margin-top: 0;
  max-width: initial;
  padding: 0;
}

.mainProduto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 60px;
  gap: 60px;
  margin-bottom: 40px;
}

.imagensArea {
  height: calc(100vh - 128px);
  margin: 32px auto;
  padding: 0;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}
.imagensArea img {
  height: calc(100vh - 128px);
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  scroll-snap-align: start;
}

.imagensArea::-webkit-scrollbar {
  width: 4px;
}

.imagensArea::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 0 40px;
}

.imagensArea::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 10px;
}

.produtoContent {
  margin-top: 15vh;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.titleArea {
  margin-bottom: 12px;
}

.produtoContent .title {
  font-size: 1.125rem;
  font-family: 'Montserrat';
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produtoContent .title .favBtn {
  cursor: pointer;
}

.produtoContent .title button {
  position: relative;
  bottom: 1px;
  height: 20px;
  width: 20px;
}

.produtoContent .title button img {
  min-height: 20px;
  min-width: 20px;
}
.produtoContent .preco {
  font-family: 'Montserrat';
  font-weight: 800;
  padding: 4px 0 0 4px;
  display: block;
  color: #8b8b8b;
}
.infosProduto {
  margin-top: 12px;
  display: grid;
  gap: 6px;
}
.produtoDescricao {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  max-width: 45ch;
  margin-bottom: 12px;
  color: #20202091;
  cursor: pointer;
}
.produtoDescricao:hover {
  color: #20202091;
}

.produtoBotao {
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 1.1rem;
  font-weight: 800;
  color: #fff;
  background-color: #202020;
  box-shadow: 0px 0px 5px #fff;
  padding: 9px 18px;
  margin-top: 32px;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  transition: 0.3s;
}

.produtoBotao:hover {
  color: #202020;
}

.produtoBotao::before {
  content: '';
  display: block;
  background-color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0%;
  transition: 0.3s;
  border-radius: 8px;
}

.produtoBotao:hover::before {
  width: 100%;
}
.complementos {
  margin: 16px 0;
}

.complementos p {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #1a1a1aad;
  padding: 0 4px;
}

.sobreFrete {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: default;
}
.sobreFrete img {
  height: 24px;
  width: 24px;
  transition: 0.4s;
}

.sobreFrete:hover > img {
  scale: 1.2;
}
