* {
  box-sizing: border-box;
}

#root {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 4rem 0 0 0;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 0 40px;
}

body::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 10px;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  align-items: center;
}

.container-box {
  max-width: 500px;
  margin: 90px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.links-cad {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8rem;
  padding-left: 1px;
  padding-right: 10px;
  font-size: 0.9rem;
}

.links-cad .link {
  color: #425674;
  text-decoration: underline;
}

.dotGray {
  color: #879132;
  font-weight: 400;
}
@media (width < 600px) {
  .container {
    padding: 0 20px;
  }
}
