.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 1px rgba(174, 194, 118, 0.1);
  background-color: #ffffff17;
  backdrop-filter: blur(2px);
}

.headerNav {
  padding: 0 30px 0 20px;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 4rem;
}

.header a img {
  max-width: 200px;
  position: relative;
  left: -20px;
}

@media (width <= 600px) {
  .header a img {
    max-width: 180px;
    left: -40px;
  }
  .headerNav {
    padding: 0 40px 0 30px;
  }
}
