/* .header-bg {
  background-color: #e9e9e9;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.header h1 {
  font-family: "DM Serif Display", monospace;
}

.buttonMenu img {
  height: 32px;
  width: 32px;
}

.buttonMenu:hover {
  cursor: pointer;
  scale: 1.05;
} */

.header {
  padding: 20px;
  box-sizing: border-box;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header a img {
  max-width: 200px;
}

@media (width <= 600px) {
  body {
    background-color: azure;
  }
}
