/* Fazer o css do modal */
.buttonMenu {
  width: 32px;
  height: 32px;
}

.menu {
  display: flex;
  gap: 0.5rem;
}

.modal .menu a {
  text-align: center;
  color: black;
  padding: 20px;
}

.modal .menu a:hover {
  background: rgba(0, 0, 0, 0.5);
}
