/* Fazer o css do modal */
.buttonMenu {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 20px;
  z-index: 100;
}

.menu {
  display: flex;
  gap: 0.5rem;
}

.modal .menu a {
  text-align: center;
  color: black;
  padding: 20px;
}

.modal .menu a:hover::after {
  color: rgba(80, 80, 80, 0.1);
}

@media (width <= 600px) {
  .buttonMenu {
    order: 1;
    border: 1px solid rgba(252, 252, 252, 0.575);
    border-radius: 4px;
  }
  .modal {
    position: relative;
    z-index: 0;
    right: -30px;
    padding: 4rem 0 1rem 0;
    top: 60px;
    background-color: rgb(58, 58, 58);
    backdrop-filter: blur(50px);
    animation: show 0.4s;
    border-radius: 0px 0px 0px 4px;
    box-shadow: inset -2px -2px rgb(0, 0, 0);
  }
  .menu {
    position: relative;
    flex-direction: column;
    padding: 0 20px;
  }
  .modal .menu a {
    animation: show 0.8s;

    color: whitesmoke;
    font-weight: 200;
    font-family: "Montserrat";
    padding: 4px 8px;
    display: flex;
  }
  .modal .menu a::after {
    animation: show 0.7s;
    content: "";
    background: #727272;
    height: 1px;
    width: 80%;
    margin: 4px auto 0 auto;
    display: block;
  }
}

@media (width <= 380px) {
  .modal {
    position: absolute;
    top: 0px;
    right: 0px;
    animation: show 0.4s;
  }
  .modal .menu a {
    padding: 8px 12px;
    font-size: 0.825rem;
    display: flex;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
