.produtoComponent {
  width: 304px;
}
.produtoComponentImg {
  height: 400px;
  width: auto;
  display: flex;
  overflow: hidden;
  padding: 40px 0;
}
.produtoComponentImg img {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  transition: 0.4s;
  border-radius: 4px;
}

.produtoComponentImg img:hover {
  scale: 1.1;
}

.produtoComponentInfo {
  display: grid;
  padding: 0 6px;
  margin: 12px auto 0px auto;
  width: 80%;
}
.produtoComponentInfo h2 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 0.875rem;
  color: #121212;
}
.produtoComponentInfo span {
  margin-bottom: 12px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 0.875rem;
  color: #00000081;
}
.produtoComponentInfo p {
  max-width: 100%;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 0.825rem;
  color: #131313b0;
}
.lerMais {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #00000091;
  text-decoration: underline;
}

@media (width < 800px) {
  .produtoComponentImg {
    height: 320px;
    padding: 12px 0;
  }
}
